@charset "UTF-8";
/* CSS Document */

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Open Sans;
	color: #002C41; 
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Navigation Menus
3.0 - Content
	3.1 - Site Structure
	3.2 - Padding/ Margin/ Width
4.0 - Media
5.0 - Utility
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */
nav a, h1, .f-right h2, header p, p a {
	font-family: Playfair Display;	
}

h1, header p, .f-right h2 {
	font-style: italic;
}

h1, h2, header p, a, footer {
	text-transform: uppercase;
}

header li, footer li, footer .f-right a, .bg-white .f-right li, .bg-white .f-right a, placeholder {
	display: inline-block;
}

header p a, header p, .f-right h2, nav a:hover {
	color: #E5B02C;
}

header .f-left p a:hover, footer .f-left a:hover, .hover-parent:hover .hover-content {
	color: #002C41;
}

.bg-blue .f-left a, .bg-grey p a, footer li, footer a {
	color: #fff;
}

#about-white-bg, .wrapper, form, #portfolio div div.row:last-child {
	margin: 0 auto;
}

.f-right h2, header p {
	font-size: 30px;
}

p, nav a, footer {
	font-size: 14px;
}

.bg-blue .f-left p:first-child, .bg-blue .f-left a, .bg-grey p a {
	font-weight: bold;
}

h1, header .f-left p, footer li, .bg-grey h2 {
	font-weight: 900;
}

h1, header p, .hover-parent:hover .hover-content {
	text-align: center;
}

#home h1, #home header p, #card h1, #card p {
	text-align: left;
} 

span, .hover-content, label {
	display: none;
}

.hover-parent:hover .hover-content, textarea {
	width: 100%;
}

/*1.1 - Headings*/
h1 {
	font-size: 48px;
	margin-bottom: 15px;
}

.bg-white h2 {
	font-weight: normal;
}

.bg-grey h2 {
	font-size: 44px;
}

/*1.2 - Body Copy*/
p {
	line-height: 25px;
}

.bg-grey header > p {
	padding-bottom:  80px;
}

#card header p {
	padding-bottom: 0;
	margin-bottom: 0;
}

#card div.f-right > p {
	margin-top: 25px;
}

/*1.3 - Buttons*/
a {
	text-decoration: none;
}

.bg-blue .f-left a, .bg-grey p a {
	padding: 10px 30px;
}

/*1.4 - Forms*/
form {
	width: 830px;
}

input {
	width: 400px;
	height: 45px;
	margin-right: 25px;
}

textarea {
	height: 225px;
	margin-top: 35px;
	padding-top: 15px;
}

input, textarea {
	text-indent: 15px;
	border: none;
}

::-webkit-input-placeholder { 
  text-transform: uppercase;
  color: #002C41;
  font-size: 14px;
  font-weight: 100;
}
::-moz-placeholder { 
  text-transform: uppercase;
  color: #002C41;
  font-size: 14px;
  font-weight: 100;
}
:-ms-input-placeholder { 
  text-transform: uppercase;
  color: #002C41;
  font-size: 14px;
  font-weight: 100;
}
:-moz-placeholder { 
  text-transform: uppercase;
  color: #002C41;
  font-size: 14px;
  font-weight: 100;
}

/*1.5 - Lists*/

.bg-white li {
	padding-right: 20px;
}

.f-right li {
	padding-left: 45px;
}

footer .f-right li {
	padding-left: 20px;
}

footer .f-left li {
	margin-top: 10px;
}

ul, .bg-white li {
	padding-left: 0;
}

.f-left li {
	padding-right: 45px;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */
header li {
	font-weight: 600;
}

nav li {
	margin-top: 20px;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
/*3.1 - Site Structure*/
.wrapper {
	width: 1170px;
	padding: 110px 0;
}

.f-left, .hover-parent {
	float: left;
}

.f-right, .hover-parent:last-child {
	float: right;
}

.row {
	overflow: auto;
}

#home {
	height: 83vh;
	min-height: 250px;
}

.hover-parent {
	position: relative; 
	height: 357px;
	margin-right: 28px;
}

.hover-parent, .hover-parent:hover .hover-content {
	top: 0;
	left: 0;
}

input:last-of-type, .hover-parent:last-child {
	margin-right: 0;
}

.hover-parent:hover .hover-content {
	background-color: rgba(255, 255, 255, 0.5);
	padding-top: 33%;
	height: 100%;
	display: block;
	position: absolute;
}

/*3.2 - Padding/ Margin/ Width*/

#about-white-bg {
	padding: 35px 100px 72px 100px;
}

#home h1, #home p {
	padding: 0 30px;
}

header.wrapper, footer div.wrapper {
	padding: 0;
}

#portfolio .row {
	padding: 5px 0;
}

#card div.f-right img {
	padding-top: 114px;
}

#card div.f-right img:last-child {
	padding-top: 40px;
}

.bg-blue .f-left p:last-child, .bg-grey p, #portfolio div div.row:last-child {
	margin-top: 40px;
}

#about-white-bg header > p, .bg-grey header > p, .bg-grey h1, .bg-blue .f-left p:first-child {
	margin-top: 0;
}

#home .bg-white {
	width: 730px;
}

#about-white-bg .f-left, .hover-parent {
	width: 371px;
}
 
#portfolio div div.row:last-child {
	width: 775px;
}

#card .f-right {
	width: 528px;
	padding-left: 40px;
}

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */
footer .f-right a, .bg-white .f-right a {
	width: 25px;
	height: 25px;
}

footer .f-right li:first-child a {
	background: url(../img/icon-facebook.png) no-repeat 0 0;
}

footer .f-right li:nth-child(2) a {
	background: url(../img/icon-tumblr.png) no-repeat 0 0;
}

footer .f-right li:nth-child(3) a {
	background: url(../img/icon-pinterest.png)no-repeat 0 0;
}

footer .f-right li:nth-child(4) a {
	background: url(../img/icon-linked-in.png)no-repeat 0 0;
}

footer .f-right li:last-child a {
	background: url(../img/icon-google.png)no-repeat 0 0;
}

.bg-white .f-right li:first-child a {
	background: url(../img/icon-about-facebook.png) no-repeat 0 0;
}

.bg-white .f-right li:nth-child(2) a {
	background: url(../img/icon-about-tumblr.png) no-repeat 0 0;
}

.bg-white .f-right li:nth-child(3) a {
	background: url(../img/icon-about-pinterest.png) no-repeat 0 0;
}

.bg-white .f-right li:nth-child(4) a {
	background: url(../img/icon-about-linked-in.png) no-repeat 0 0;
}

.bg-white .f-right li:last-child a {
	background: url(../img/icon-about-google.png) no-repeat 0 0;
}

footer .f-right li a:hover, .bg-white .f-right li a:hover {
	background-position: 0 -25px;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */
.bg-blue, .bg-blue .f-left a, .bg-grey p a {
	background-color: #002C41;
}

.bg-gold, .bg-blue .f-left a:hover, .bg-grey p a:hover {
	background-color: #E5B02C; 
}

.bg-grey {
	background-color: #EEE;
}

.bg-white {
	background-color: #fff;
	padding: 35px 7px;
	width: 895px;
}


